In [1]:
import pandas as pd
import numpy as np

# PANDAS SERIES SEQUENCE

In [2]:
s = pd.Series()
print ("pandas series" , s)
data = np.array(["a","n","s","h"])
s = pd.Series(data)
print("pandas Series\n",s)

pandas series Series([], dtype: object)
pandas Series
 0    a
1    n
2    s
3    h
dtype: object

# Data Frame

In [ ]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
lst = ["ansh","amit","anuj","anil","anek"]
df = pd.DataFrame(lst)

print(df)

      0
0  ansh
1  amit
2  anuj
3  anil
4  anek

# creating a dataframe from list of dictionary

In [5]:
dict = {"name":
 ["aparna",'anuj','ansh'],
'degree':['mba','bca','btech'],
'score':[20,50,40]}
df =  pd.DataFrame(dict)
print(df)

     name degree  score
0  aparna    mba     20
1    anuj    bca     50
2    ansh  btech     40

# PANDAS DATAFRAME INDEX

In [6]:
dict = {"name":
 ["aparna",'anuj','ansh'],
'degree':['mba','bca','btech'],
'score':[20,50,40]}
df =  pd.DataFrame(dict)

print(df)
print(df.index)

     name degree  score
0  aparna    mba     20
1    anuj    bca     50
2    ansh  btech     40
RangeIndex(start=0, stop=3, step=1)

In [7]:
df_with_index = df.set_index('degree')
print(df_with_index)

          name  score
degree
mba     aparna     20
bca       anuj     50
btech     ansh     40

In [8]:
# reset the index back to the default integer index
df_reset = df.reset_index()
print(df_reset)

   index    name degree  score
0      0  aparna    mba     20
1      1    anuj    bca     50
2      2    ansh  btech     40

In [9]:
dict = {"name":
 ["aparna",'anuj','ansh'],
'degree':['mba','bca','btech'],
'score':[20,50,40]}
df =  pd.DataFrame(dict)
print(df)

     name degree  score
0  aparna    mba     20
1    anuj    bca     50
2    ansh  btech     40

In [10]:
# access of column
age = df['degree']
print(age)

0      mba
1      bca
2    btech
Name: degree, dtype: object

In [11]:
# access of row
pehla = df.iloc[1]
print(pehla)

name      anuj
degree     bca
score       50
Name: 1, dtype: object

In [12]:
# access multiple row column
access_row_column = df.loc[0:2,['degree','score']]
print(access_row_column)

  degree  score
0    mba     20
1    bca     50
2  btech     40

In [13]:
data = {'name':['ansh','alice','bob','eve','charlie'],
        'age':[25,30,22,35,28],'gender':['male','female','male','female','male'],'salary':[50000,55000,40000,70000,48000]}
df = pd.DataFrame(data)
print(df)
print(df.index)

      name  age  gender  salary
0     ansh   25    male   50000
1    alice   30  female   55000
2      bob   22    male   40000
3      eve   35  female   70000
4  charlie   28    male   48000
RangeIndex(start=0, stop=5, step=1)

In [14]:
# filtered data
filterdata = df[df['age']>=25]
print(filterdata)

      name  age  gender  salary
0     ansh   25    male   50000
1    alice   30  female   55000
3      eve   35  female   70000
4  charlie   28    male   48000

In [15]:
#  to access specific data
specificdata = df.at[2,'name']
print(specificdata)

bob

#We'll start "The Group of Seven". Which is a political formed by Canada , France , Germany , italy,Japan the United Kingdom and the United states. We'll start by analyzing population , and for that , we;ll use a pandas.Series object

In [16]:
# In millionss
g7_pop = pd.Series([35.467,63.951,80.940,60.665,127.061,64.511,318.523])
print(g7_pop)

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [17]:
g7_pop.name = ("G7 Population in Millions")
print(g7_pop)

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in Millions, dtype: float64

In [18]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in Millions, dtype: float64

In [19]:
g7_pop.dtype

dtype('float64')

In [20]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [21]:
type(g7_pop.values)

numpy.ndarray

In [22]:
g7_pop[3]

np.float64(60.665)

In [23]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [24]:
g7_pop.index = ['Canada','France','Germany','Italy','Japan','United Kingdom','United states',]

In [25]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United states     318.523
Name: G7 Population in Millions, dtype: float64

In [26]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [27]:
pd.Series(
    [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
    name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [28]:
pd.Series(g7_pop, index=['india','Germany','France'])

india         NaN
Germany    80.940
France     63.951
Name: G7 Population in Millions, dtype: float64

In [29]:
g7_pop['Japan']

np.float64(127.061)

In [30]:
g7_pop.iloc[0]

np.float64(35.467)

In [31]:
g7_pop[['Japan','Italy']]

Japan    127.061
Italy     60.665
Name: G7 Population in Millions, dtype: float64

In [32]:
g7_pop.iloc[[0,1]]

Canada    35.467
France    63.951
Name: G7 Population in Millions, dtype: float64

In [33]:
# we can also use slicing in pandas serires.
# Important Points : In Pandas , the Upper Limit is also included
g7_pop['Germany':'United States']

Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
Name: G7 Population in Millions, dtype: float64

# Conditional selection (boolean arrays)
* The same boolean array techniques we saw applied to numpy arrays can be used for Pandas Series

In [34]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United states     318.523
Name: G7 Population in Millions, dtype: float64

In [35]:
g7_pop <89

Canada             True
France             True
Germany            True
Italy              True
Japan             False
United Kingdom     True
United states     False
Name: G7 Population in Millions, dtype: bool

In [36]:
g7_pop[g7_pop < 89]

Canada            35.467
France            63.951
Germany           80.940
Italy             60.665
United Kingdom    64.511
Name: G7 Population in Millions, dtype: float64

In [37]:
g7_pop.mean()

np.float64(107.30257142857144)

In [38]:
g7_pop[g7_pop > g7_pop.mean()]

Japan            127.061
United states    318.523
Name: G7 Population in Millions, dtype: float64

In [39]:
g7_pop.std()

97.24996987121581

In [40]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() / 2 ) | (g7_pop > g7_pop.mean() + g7_pop.std() / 2)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United states     318.523
Name: G7 Population in Millions, dtype: float64

# operation and method
## series also support vectorized operation and aggeration functions as numpy

In [41]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United states     318.523
Name: G7 Population in Millions, dtype: float64

In [42]:
g7_pop * 1000000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United states     318523000.0
Name: G7 Population in Millions, dtype: float64

In [43]:
g7_pop.mean()

np.float64(107.30257142857144)

In [44]:
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United states     5.763695
Name: G7 Population in Millions, dtype: float64

In [45]:
g7_pop['France' : 'Italy'].mean()

np.float64(68.51866666666666)

In [46]:
g7_pop > 80

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United states      True
Name: G7 Population in Millions, dtype: bool

In [47]:
g7_pop[(g7_pop > 80 )| (g7_pop < 40)]

Canada            35.467
Germany           80.940
Japan            127.061
United states    318.523
Name: G7 Population in Millions, dtype: float64

In [48]:
g7_pop[(g7_pop > 80 ) & (g7_pop < 200)]

Germany     80.940
Japan      127.061
Name: G7 Population in Millions, dtype: float64

In [49]:
g7_pop['Canada'] = 40.5

In [50]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United states     318.523
Name: G7 Population in Millions, dtype: float64

In [51]:
g7_pop.iloc[-2] = 500

In [52]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom    500.000
United states     318.523
Name: G7 Population in Millions, dtype: float64

In [53]:
g7_pop[g7_pop < 70]

Canada    40.500
France    63.951
Italy     60.665
Name: G7 Population in Millions, dtype: float64

In [54]:
g7_pop[g7_pop<70]= 99.99

In [55]:
g7_pop

Canada             99.990
France             99.990
Germany            80.940
Italy              99.990
Japan             127.061
United Kingdom    500.000
United states     318.523
Name: G7 Population in Millions, dtype: float64